h1
{
    text-align: center;
    text-size-adjust: 50px;
    color: whitesmoke;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p
{
    text-align: left;
    color: whitesmoke;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-size-adjust: Large;
    
}
body
{
    background-color:black;
    
}