h1
{
    text-align: center;
    text-size-adjust: 50px;
    color: whitesmoke;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p
{
    text-align: left;
    color: whitesmoke;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-size-adjust: Large;
    
}
body
{
    background-color:black;
    
}
footer 
{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: blueviolet;
    color:white;
    font-size: 25px;
}
header
{
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
    color: rgb(177, 56, 56);
    text-shadow: #000 0 0 .2em;
}